.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.img-film {
  width: 100%;
}
.title {
  padding: 0 5%;
}
.menu {
  margin-bottom: 2%;
}
.menu-list {
  width: 100%;
  padding: 2%;
  border-bottom: solid 1px #cccccc;
}
.list {
  margin: 0 4%;
}
.list:active {
  border-bottom: solid 2px yellow;
}
.text-title {
  padding: 5% 2%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
